old/
x64/
.vs/
*.user
*.pdb
ReflectDatabase.json
Reflector.h
Classes.reflect.h
Includes.reflect.h
Reflector.exe
Reflector.ilk
Reflector.iobj
Reflector.ipdb
vcpkg_installed/
Reflection/
Options.h.mirror
